// app global css in SCSS form
.bg-body {
  background-color: $amber-2
}

.bg-outstanding {
  background-color: $amber-1;
}

.bg-header {
  background-color: $amber-12
}

.bg-timoxi {
  background-image: linear-gradient(rgba($lime-1, 0.75), rgba($lime-1, 0.75)), url('/bg.avif');
  background-size: cover;
  background-position: center;
}

body {
  @extend .bg-body;
}

.flex-content-width {
  width: 100%;
  max-width: 300px;
}

@for $i from 5 through 30 {
  @media screen and (min-height: #{$i * 100px}) {
    .flex-content-width {
      max-width: #{$i * 75px};
    }
  }
}