// app global css in SCSS form
.bg-body {
  background-color: $amber-2
}

.bg-outstanding {
  background-color: $amber-1;
}

.bg-header {
  background-color: $amber-12
}

body {
  @extend .bg-body;
}

.flex-content-width {
  width: 100%;
}

@for $i from 4 through 10 {
  @media screen and (min-height: #{$i * 200px}) {
    .flex-content-width {
      max-width: #{$i * 150px};
    }
  }
}